.grid-container {
  margin: 20px;
}

.home-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  .mat-card-title {
    font-size: 18px;
  }

  .card-content-text {
    font-size: 18px;
    font-weight: 500;
    color: green;
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.home-card-content {
  text-align: center;
}

.card-table {
  height: 180px;
  max-width: 100%;
  overflow: auto;
}
